@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    overscroll-behavior: none;
    font-family: 'Outfit', sans-serif;
    color: #fff;
    background-color: #000;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
    /* 版心 */
    --type-area: 1440px;
}
